# Ford Car Price Prediction

#### Objective :
(A) Load the data, 
(B) Separating the numeric features and target variable, 
(C) Split the original dataset into the train set (80%) and the test set (20%), 
(D) Perform Linear Regression and Predict the 'Price' from the test set, 
(E) Find the RMSE value from the actual test data and the predicted data.

#### Data Source: https://github.com/SKawsar/Data_Visualization_with_Python
Original data source: https://www.kaggle.com/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw

In [220]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

##### Ford car data analysis

In [221]:
df = pd.read_csv("ford.csv")

display(df.head(10))
print(df.shape)

     model  year  price transmission  mileage fuelType   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  48.7         1.0
5   Fiesta  2015  10500       Manual    35432   Petrol  47.9         1.6
6     Puma  2019  22500       Manual     2029   Petrol  50.4         1.0
7   Fiesta  2017   9000       Manual    13054   Petrol  54.3         1.2
8     Kuga  2019  25500    Automatic     6894   Diesel  42.2         2.0
9    Focus  2018  10000       Manual    48141   Petrol  61.4         1.0

(17964, 8)

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17964 entries, 0 to 17963
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17964 non-null  object
 1   year          17964 non-null  int64
 2   price         17964 non-null  int64
 3   transmission  17964 non-null  object
 4   mileage       17964 non-null  int64
 5   fuelType      17964 non-null  object
 6   mpg           17964 non-null  float64
 7   engineSize    17964 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.1+ MB

###### Separating the numeric features and target variable

In [223]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

In [224]:
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(17964, 4) (17964, 1)

###### Train and test set

In [225]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14371, 4) (3593, 4) (14371, 1) (3593, 1)

###### Linear Regression

In [226]:
model = LinearRegression()
model = model.fit(X_train, y_train)

###### Prediction

In [227]:
y_pred = model.predict(X_test)

In [228]:
print(y_test)

       price
13547   6400
15279  15789
11461  18999
7371   18495
1860    8298
...      ...
11836  18800
14032  12490
6568   17995
16025   8899
4651    9650

[3593 rows x 1 columns]

###### Prediction Error

In [229]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

2417.8664775719712